In [1]:
import pandas as pd

# For deeper analysis
import numpy as np  # for adding trendline to plot
import matplotlib.pyplot as plt  # for plotting

In [2]:
# Downstream of fire of boundary, Glenwood Springs
ncei_weather_url = (
    'https://www.ncei.noaa.gov/access/services/data/v1'
    '?dataset=daily-summaries'
    '&dataTypes=TOBS,PRCP'
    '&stations=US1COGF0060'  # A glenwood springs weather station, 99% coverage https://www.ncei.noaa.gov/cdo-web/results
    '&startDate=1949-10-01'
    '&endDate=2024-02-18'
    '&includeStationName=true'
    '&includeStationLocation=1'
    '&units=standard')
ncei_weather_url

'https://www.ncei.noaa.gov/access/services/data/v1?dataset=daily-summaries&dataTypes=TOBS,PRCP&stations=US1COGF0060&startDate=1949-10-01&endDate=2024-02-18&includeStationName=true&includeStationLocation=1&units=standard'

In [3]:
downstream_w_df = pd.read_csv(
    ncei_weather_url,
    index_col="DATE",
    parse_dates=True,
    na_values=["NaN"]
)
downstream_w_df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,PRCP,TOBS
DATE,,,,,,,
2013-01-01,US1COGF0060,"GLENWOOD SPRINGS 2.7 SSE, CO US",39.5072,-107.316212,1812.6,0.00,NaN
2013-01-02,US1COGF0060,"GLENWOOD SPRINGS 2.7 SSE, CO US",39.5072,-107.316212,1812.6,0.00,NaN
2013-01-03,US1COGF0060,"GLENWOOD SPRINGS 2.7 SSE, CO US",39.5072,-107.316212,1812.6,0.00,NaN
2013-01-04,US1COGF0060,"GLENWOOD SPRINGS 2.7 SSE, CO US",39.5072,-107.316212,1812.6,0.00,NaN
2013-01-05,US1COGF0060,"GLENWOOD SPRINGS 2.7 SSE, CO US",39.5072,-107.316212,1812.6,0.00,NaN
...,...,...,...,...,...,...,...
2024-02-13,US1COGF0060,"GLENWOOD SPRINGS 2.7 SSE, CO US",39.5072,-107.316212,1812.6,0.00,NaN
2024-02-14,US1COGF0060,"GLENWOOD SPRINGS 2.7 SSE, CO US",39.5072,-107.316212,1812.6,0.00,NaN
2024-02-15,US1COGF0060,"GLENWOOD SPRINGS 2.7 SSE, CO US",39.5072,-107.316212,1812.6,0.00,NaN
2024-02-16,US1COGF0060,"GLENWOOD SPRINGS 2.7 SSE, CO US",39.5072,-107.316212,1812.6,0.15,NaN
2024-02-17,US1COGF0060,"GLENWOOD SPRINGS 2.7 SSE, CO US",39.5072,-107.316212,1812.6,0.00,NaN

In [4]:
# Upstream of fire boundary, Steamboat Springs
ncei_weather_url2 = (
    'https://www.ncei.noaa.gov/access/services/data/v1'
    '?dataset=daily-summaries'
    '&dataTypes=TOBS,PRCP'
    '&stations=US1CORT0016'
    '&startDate=1949-10-01'
    '&endDate=2024-02-18'
    '&includeStationName=true'
    '&includeStationLocation=1'
    '&units=standard')
ncei_weather_url2

'https://www.ncei.noaa.gov/access/services/data/v1?dataset=daily-summaries&dataTypes=TOBS,PRCP&stations=US1CORT0016&startDate=1949-10-01&endDate=2024-02-18&includeStationName=true&includeStationLocation=1&units=standard'

In [5]:
upstream_w_df = pd.read_csv(
    ncei_weather_url2,
    index_col="DATE",
    parse_dates=True,
    na_values=["NaN"]
)
upstream_w_df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,PRCP,TOBS
DATE,,,,,,,
2004-04-17,US1CORT0016,"STEAMBOAT SPRINGS 1.1 E, CO US",40.4848,-106.8092,2183.9,0.00,NaN
2004-04-18,US1CORT0016,"STEAMBOAT SPRINGS 1.1 E, CO US",40.4848,-106.8092,2183.9,0.00,NaN
2004-04-19,US1CORT0016,"STEAMBOAT SPRINGS 1.1 E, CO US",40.4848,-106.8092,2183.9,0.66,NaN
2004-04-20,US1CORT0016,"STEAMBOAT SPRINGS 1.1 E, CO US",40.4848,-106.8092,2183.9,0.06,NaN
2004-04-21,US1CORT0016,"STEAMBOAT SPRINGS 1.1 E, CO US",40.4848,-106.8092,2183.9,0.22,NaN
...,...,...,...,...,...,...,...
2024-02-13,US1CORT0016,"STEAMBOAT SPRINGS 1.1 E, CO US",40.4848,-106.8092,2183.9,0.00,NaN
2024-02-14,US1CORT0016,"STEAMBOAT SPRINGS 1.1 E, CO US",40.4848,-106.8092,2183.9,0.14,NaN
2024-02-15,US1CORT0016,"STEAMBOAT SPRINGS 1.1 E, CO US",40.4848,-106.8092,2183.9,0.13,NaN
2024-02-16,US1CORT0016,"STEAMBOAT SPRINGS 1.1 E, CO US",40.4848,-106.8092,2183.9,0.15,NaN
2024-02-18,US1CORT0016,"STEAMBOAT SPRINGS 1.1 E, CO US",40.4848,-106.8092,2183.9,0.00,NaN

In [6]:
# Steamboat springs station

# Making dataframe only precipitation
upstream_w_df = upstream_w_df[['PRCP']]

# Replacing any NaN values with zero
upstream_w_df['PRCP'] = upstream_w_df['PRCP'].replace(np.nan, 0)

# Removing all rows that have a precipitation of zero
upstream_w_df = upstream_w_df.loc[(upstream_w_df!=0).any(axis=1)]
upstream_w_df

/tmp/ipykernel_1625/3247573871.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  upstream_w_df['PRCP'] = upstream_w_df['PRCP'].replace(np.nan, 0)

            PRCP
DATE
2004-04-19  0.66
2004-04-20  0.06
2004-04-21  0.22
2004-04-22  0.34
2004-04-23  0.04
...          ...
2024-02-08  0.57
2024-02-09  0.04
2024-02-14  0.14
2024-02-15  0.13
2024-02-16  0.15

[2463 rows x 1 columns]

In [7]:
# Glenwood Springs station

# Making dataframe only precipitation
downstream_w_df = downstream_w_df[['PRCP']]

# Replacing any NaN values with zero
downstream_w_df['PRCP'] = downstream_w_df['PRCP'].replace(np.nan, 0)

# Removing all rows that have a precipitation of zero
downstream_w_df = downstream_w_df.loc[(downstream_w_df!=0).any(axis=1)]
downstream_w_df

/tmp/ipykernel_1625/1152252954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downstream_w_df['PRCP'] = downstream_w_df['PRCP'].replace(np.nan, 0)

            PRCP
DATE
2013-01-11  0.16
2013-01-12  0.09
2013-01-25  0.07
2013-01-29  0.46
2013-01-30  0.04
...          ...
2024-02-04  0.29
2024-02-07  0.01
2024-02-08  0.42
2024-02-09  0.10
2024-02-16  0.15

[1085 rows x 1 columns]

In [8]:
#Subset the data 
us2020to2024 = upstream_w_df.loc['2020-08-01':'2024']
us2020to2024

            PRCP
DATE
2020-08-30  0.44
2020-09-08  0.11
2020-09-09  0.06
2020-09-11  0.03
2020-09-20  0.03
...          ...
2024-02-08  0.57
2024-02-09  0.04
2024-02-14  0.14
2024-02-15  0.13
2024-02-16  0.15

[441 rows x 1 columns]

In [9]:
# Subset the data
ds2020to2024 = downstream_w_df.loc['2020-08-01':'2024']
ds2020to2024

# Need whole year data? or just summer months? for landslides

            PRCP
DATE
2020-08-20  0.01
2020-08-25  0.01
2020-08-26  0.01
2020-08-27  0.02
2020-08-29  0.05
...          ...
2024-02-04  0.29
2024-02-07  0.01
2024-02-08  0.42
2024-02-09  0.10
2024-02-16  0.15

[328 rows x 1 columns]